

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- endbuild -->
  <body>
    <div class="container-fluid">
        <div class="container-infor">
          <div class="row">
          <div class="col-xs-12 col-md-12 well">

                <div class="col-md-6 one-column-text well">
                    <h2>¡Contáctenos! Queremos Saber de Ud.</h2>
                    <h3>Estamos del otro lado del teléfono y de la pantalla para resolver sus dudas y consultas o simplemente para recibir sus sugerencias y comentarios</h3>
              </div>
            </div>
            </div>

 <div class="row">


  <div class="col-md-6 one-column-text well">
            <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x9662cf1846549c4d%3A0x72a9d5b05cc5ded6!2sAm%C3%A9rico+Vespucio+Sur+107%2C+Las+Condes%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1388412285664&wmode=transparent" width="" height="600" frameborder="auto" style="border:2px solid #39aecf" wmode="Opaque">
        </iframe>
      
                            
                    <hr>
                    <h3>Nuestras Oficinas</h3>
                    <p>Av. Américo Vespucio Sur 107 Of. 202<br>Las Condes – Santiago – Chile</p>
                    <p>Nueva Las Condes Business Park<br>Torre Neruda<br>Rosario Norte 555 Of. 1.602<br>Las Condes – Santiago – Chile</p>
</div>
</div>


</div>
<div class="row">
                <div class="col-md-12 well">
                    <h3>Pongámonos en Contacto</h3>
                    <p>En CordoBarrios dejamos a su disposición la mejor atención online 24/7 y estaremos respondiendo sus preguntas todos los días hábiles hasta las 18:00 horas.</p>

                        <div class="col-md-4 well">
                            <span>Teléfono</span>
                            <p>Argentina: +54 9 3512713322</p>
                        </div>
                        <div class="col-md-4 well">
                            <span>Email</span>
                            <p>info@cordobarrios.com</p>
                        </div>
                        <div class="col-md-4 well">
                            <span>Redes Sociales</span>
                            <p>Facebook: <a href="https://www.facebook.com/cordobarrios">/cordobarrios</a></p>
                            <p>Twitter: <a href="https://twitter.com/cordobarrios">@CordoBarrios</a></p>
                        </div>
                    </div>
</div>
<div class="row">
                      <div class="col-md-12 well">


                <div class="col-md-6 well">
                    <h3>Síganos en Facebook</h3>
                    <img src="images/logoCuadrado.png">
                    
                </div>
              </div>


        </div>
      <!--header-->
      <div class="row">
    <div class="col-xs-12 col-md-12 well">
      <form role="form">
    <h2>REGISTRESE <small>Es Gratis y Siempre lo sera.</small></h2>
    <hr class="colorgraph">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group">
          <input type="text" name="Nombre" id="Nombre" class="form-control input-lg" placeholder="Nombre" tabindex="1">
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="form-group">
          <input type="text" name="Apellido" id="Apellido" class="form-control input-lg" placeholder="Apellido" tabindex="2">
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email " tabindex="3">
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña" tabindex="4">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirmar Contraseña" tabindex="5">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Estoy de Acuerdo
        </label>
      </div>
      </div>
      <div class="col-xs-8 col-sm-9 col-md-9">
         Haciendo click esta de acuerdo con los Terminos y Condiciones por este sitio, incluyendo nuestro uso de cookies.
      </div>
    </div>

    <hr class="colorgraph">
    <div class="row">
      <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
    
    </div>
  </form>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Estoy de Acuerdo</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  <!--header-->

  </div>





